# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=nic
POSTGRES_USER=nic_user
POSTGRES_PASSWORD=changeme

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_SECRET=dev-secret-change-in-prod

# Mock Outage API
OUTAGE_API_URL=http://mock-outage-api:3001

# Mock Loss of Connectivity API
LOC_API_URL=http://mock-loc-api:3006

# Results API
RESULTS_API_URL=http://results-api:3005
WEBSOCKET_URL=ws://localhost:3005

# Fleet Simulator
FLEET_SIZE=1000

# Service urls for Web
VITE_OUTAGE_API_URL=http://localhost:3001
VITE_FLEET_SIMULATOR_URL=http://localhost:3002
VITE_PUBLIC_DATA_ADAPTER_URL=http://localhost:3003
VITE_CORRELATOR_URL=http://localhost:3004
VITE_RESULTS_API_URL=http://localhost:3005
VITE_LOC_API_URL=http://localhost:3006

# Logging
LOG_LEVEL=info
